/* /* 
.colors{
  #1DBAEA
  #FFFFFF
  #EDEFEF
  #101D2F
  #000000
} */





*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
} 

body{
 font-family: 'Montserrat',  sans-serif;

  background:   #d8d5d5;

}
/*NAVIGATION*/
.navbar {
  display: grid;
  font-size: 18px;
  border: 1px solid rgba((0), 0, 0, 0.2);
  padding-bottom: 10px;

}
.main-nav{
  list-style-type: none;
  display: none;
}
.nav-items{
  text-decoration: none;
}
.main-nav li {
  text-align: center;
  margin: 14px auto;
}
.main-nav a {
  color: #5d5d5d;
  text-decoration: none;
  font-size: 1.2em;
}
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  top: 10px;
  right: 20px;
  background-image:url(.//unnamed.jpg);
}
.navbar-toggle{
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 24px
}
.navbar-close{
  position: relative;
  font-size:24px;
  cursor: pointer;
  /* top: 10px; */
  left: 19px;
  color: black;
}
.active {
  display: block;
}

/*HERO-IMAGE*/
#hero-image{
  color: white;
  text-align: center; 
}
 .bg-image{  
  background-image:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0, 0.45)), url(.//IMG_5609.JPG);;
  background-position:center;
  width: auto;
  height: 100vh;
  /* overflow: hidden; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 99;
  object-fit: cover;
    opacity: .7;
}

.cta {
  z-index: 2;
  position: absolute;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  list-style-type: none;
  display: block;
  background-color: #b94a4b;
  padding: 1em 1em;
  border-radius: 10px;
  color: wheat;
  text-transform: uppercase;

  
}
.services-image{
  background-image:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0, 0.45)), url(.//IMG_5610.JPG);
  background-position:center;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: -1;
   /* object-fit: cover;  */
  object-position: 0% 50%; 
  opacity: .7;
}

.about-image{
  background-image:  linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0, 0.45)),url(.//dj.jpg);
  background-position:center;
  width: 100%;
  height: 100vh;
   /* overflow: hidden;  */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: -1;
   object-fit: cover;  
  object-position: 0% 50%; 
  opacity: .7;
}

.contact-image{
  background-image:  linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0, 0.45)),url(.//wedding.jpeg);
  background-position:center;
  width: 100%;
  height: 100vh;
   /* overflow: hidden;  */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: -1;
   object-fit: cover;  
  object-position: 0% 50%; 
  opacity: .7;
}

.hero-text{
  color:white;
}
.inner-container h1{
  font-family: 'Architects Daughter', cursive;
  text-align:center;
  position: absolute;
  width: 90%;
  color:white;
  opacity: .7;
  font-size: 2.8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  margin: 0;
  letter-spacing: 2px;
}
/*HOME*/

 .text-container {
  text-align:center;
  position: absolute;
  width: 100%;
  height: auto;
  color:white;
     margin-top: 30px;   
  background: #b94a4b; 
  justify-content: center;
  align-content: center;
  opacity: .6;
}


.content{
   margin: 2em; 
   padding: 2em;
  font-size: 20px;
}



.home-testimonial {
  padding: 2em 3em 2em 3em;
  color: #101D2F;
  font-size: 1.2em;
}


.contact-me{
  color: #b94a4b;
  list-style-type: none;
}


.home-image{
  background-image: url(.//IMG_5609.JPG);
  display: flex;
  overflow: hidden;
  width: 80%;
  
}


.offering-content{
  box-shadow: 0 0 20px 0 rgba(173, 10, 24, 0.8);
  padding-left:1.2em ;
  /* padding-top: 0.5em; */
  /* padding-bottom: 0.5em; */
  font-size: 4em;
  color: #b94a4b;
  font-family: 'Architects Daughter', cursive; 
}


.welcome-content{

  box-shadow: 0 0 20px 0 rgba(173, 10, 24, 0.8);

}
.top-content{
  padding: 1.5em 2em 2em 2em; 
  font-size: 1em;
   width: 100%; 
   line-height: 1.4em;
   justify-content: center;  } 


.welcome-content, .home-heading{
  padding-left: 1.2em;
} 


 .welcome-content h3 {
  font-size: 4.9em;
  color: #b94a4b;
  font-family: 'Architects Daughter', cursive;
}
 
.home-heading {
  font-size: 4em;
  font-family: 'Architects Daughter', cursive;
  color: #b94a4b;

}


.wedding-text{
  position:absolute;
   align-content: center; 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #b94a4b;
  font-size: 2em;
   opacity: .7; 
  font-family: 'Architects Daughter', cursive;
  color:#EDEFEF;
}


.party-text{
  position: absolute;
  align-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #b94a4b;
  font-size: 2em;
  opacity: .7;
  font-family: 'Architects Daughter', cursive;
  color:#EDEFEF;

}

.school-text{
   position: absolute; 
  background-color: #b94a4b;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  font-size: 2.5em;
  opacity: 0.7;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-family: 'Architects Daughter', cursive;
  color:#EDEFEF;

}




 .home-container{
  padding: 2em 2em 2em 2em;
   position: relative; 
   justify-content: center;
    align-content: center;
  width: 100%;  
  

 
} 

 
#section-a{
  width: 100%;  
   position: relative; 
 

}

.home-container img{
  max-width: 90%;
  display: flex;
    position: relative;
  object-fit: cover;
    margin: 1em auto;
  
}



#section-b{
  width: 100%;
  position: relative;

  
  
  
}


#section-c{
  position: relative;
  text-align: center;
  width: 100%;
}





.testimonials-cont{
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  background-color: #c2bfbf;
   


}

.testimonials-cont h2{
  text-align: center;
  text-transform: uppercase;
}

.testimonial-text{
  width: 65%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
  border: 1px black solid;
  padding: 1em 1em;
  letter-spacing: 1px; 
  background-color: #EDEFEF;
}


.testimonial-text p{
  line-height: 28px;
  margin: 1em;
}







    /* IMAGES */
.image-0{
  max-width:100%;
display: flex;}


.image-1{

   max-width:100%;
display: flex;}


.image-2{
   max-width:100%;
display: flex;}


h1, h2{
   text-align: center;
   padding: 1em 0;
}


/*SERViCES SECTION*/

 .container-services{
  display:block;
  padding: 2em 2em 2em 2em;
  margin: 0 auto;
  width: 80%;
} 

 .services-title  {
  font-size: 3.4em;
  color: #b94a4b;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  text-transform: uppercase;

}

.services-content{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
  padding:  1em 0;
  letter-spacing: .5px; 
   width:100%;
  margin: 0 auto;
  text-align: center;
}
 img{
  display: flex;
  width: 90%;
  margin: 0  auto;
   position: relative;
  object-fit: cover;
} 
#services-section-a{
   width: 100%;

}


#services-section-b{
  width: 100%;
}
  /* .services-image1
{
  padding-bottom: 1em;
   width:80%;
    display: flex;
   object-fit: cover; 
  position: relative;
margin: 0 auto;
   
  }  */
 

  
  


 .services-title h3{
  text-align: center;
  font-size: 3em;
    color: #b94a4b; 
   font-family: 'Architects Daughter', cursive;

} 





 

  /*CONTACT PAGE */

  

 
.send-btn{

    font-size: 1.2em;
     padding: .3em; 
    background: #b94a4b;
     color: white;
    /* margin-top: 1==em; */
    width: 80%;
    border-radius: 4px;
  }
.wrapper{
    /* box-shadow: 0 0 20px 0 rgba(173, 10, 24, 0.7); */
    padding: 2em;
  display: grid; 
  box-sizing: border-box;
  background-color: #979595
  ;
  
}

.inner-wrapper{
  border: #989898 5px solid;

}


.contact-heading {
  text-align: center;
  align-content: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 4em;
  /* padding: .9em; */




}



input{
  /* padding: 2em; */
  font-size: 1em;
  letter-spacing: 1.4px;
  padding: 2px;
  min-width: 60%;
 }

.contact {
  display: block;
  text-align: center;
  
}



/* .contact  */
label{
  font-size: 1em;
  /* padding-top: 0.6em; */
  margin: 0.3em; 
  display: block;
  color:black;
  border: none;
  /* text-transform: uppercase; */
}
.contact-info p{
  align-content: center;
  text-align: center;
  font-size: 1.4em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2em;
  padding-right: 2em;
  /* box-shadow: 0 0 20px 0 rgba(173, 10, 24, 0.7);  */



}
  .company-info{
    /* background: #b94a4b; */
    text-align: center;
    font-size: 1.4em;
    line-height: 2em;
    /* margin:0 0 1rem 0 ; */
    padding-top: 1em;
    color:#EDEFEF;
    /* border: #989898 5px  solid; */
    /* padding-bottom: 3em; */
    /* padding: 2em 2em 2em 3em; */
    /* box-shadow: 0 0 20px 0 rgba(173, 10, 24, 0.7); */


}

#full-name label{
  padding-top: 1em;
}
.company-info h4{
  font-family: 'Architects Daughter', cursive;
  font-size: 1.4em;
}
h1{
  color: #d18889;
  
}
 

 textarea
{
  min-width: 60%; 
  /* border-radius: 3px; */
  font-size: 1em;
  letter-spacing: 1.4px;
  padding: 2px;
}

#event-type select
{font-size: 1.4em;
  /* letter-spacing: 1.4px; */
  /* padding: 2px; */
 min-width: 54%;
 margin: 0 auto;
}

#event-type label{
  font-size: 1.4em;
}


.contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
/* padding: 20px; */
/* grid-gap: 20px; */
font-size: 1.2em;
background: #d18889;
color: rgb(5, 5, 5);
border: #989898 5px solid;

}

  /* .date-event{
  min-width: 80%;
  grid-column: 1/3;   
  margin: 0 auto;
} */



.contact form p{
    margin: 0;
}



ul{
    list-style: none;
    padding: 0;
}   

.icons
{
  padding:.5em; 
}
.icons a{
  padding: .5em;
  color: #EDEFEF;
}

/* Footer */
.footer-logo{
  display: flex;
  width: 10%;
  height: 50%;
  
}
.copyright a{
  list-style-type: none;
  text-decoration: none;
}
.copyright{
  text-align: center;
  padding-top: 1em ;
  display: block;
  line-height: 22px;
  background-color: #817f7f;
  padding-bottom: 1em;
}
footer{
  padding: 2em;
  background-color: #979595

}
.footer-container{

box-sizing: border-box;
  /* background-color: */
  display:grid;
  justify-items: center;
  /* padding: 2em ;  */
  text-align: center;
  /* height: 50%; */
  width: 90%;
  margin: 0 auto;
  
}

.footer-heading{
  color: #EDEFEF;
  font-size: 2.4em;
  padding-bottom: .5em;
}

#icons-heading{
  text-align: center;
  padding-top: 2em;
   padding-bottom: 2em;  
       box-shadow: 0  8px 0 rgba(134, 129, 129, 0.6); 
}
#footer-contact {
  color: #EDEFEF;
   padding-top: 2em;
   padding-bottom: 2em;
  text-align: center;
  line-height: 2em;
  box-shadow: 0  8px 0 rgba(134, 129, 129, 0.7); 

}

#newsletter{
  padding-top: 2em;
  padding-bottom: 2em;
  /* background-image: url(//logo.png); */
}
.newsletter-text
{font-size: 1.4em;
  color: #EDEFEF;
  padding-bottom: 1em;
}
/*Media Queries*/
@media screen and (min-width:300px) and (max-width:600px){
 
  .wrapper{
     box-shadow: none; 
     padding: 0 0 ;
     /* display: block; */
  }

  .contact{
    width: 100%;
  }

  .services-title {
    font-size: 2.3em;
  }
  .offering-content{
    font-size: 2.5em;
    padding: none;
    box-shadow: none}

  /* .inner-container h3{
    font-size: 2em;
  } */
 .footer-logo {
   /* position: fixed;  */
  padding: 2em;
  display: none;

}

.company-info {
  align-content: center;
  padding: 1em 1em 1em 1em ;
}



.contact-info, .contact-heading  {
  text-align: center;
}

 #icons-heading{
   padding: 2em 0 2em 0;
    align-content: center; 
 }
  .footer-container{
    display: block;
  }

.home-heading {
  font-size: 3em;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  color: #b94a4b;

}

}

@media screen and (min-width:725px){


  .contact-image{
   background-position:  70% 30%;
    height: 650px;
    display: flex;
  }

  .cta {
    z-index: 2;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);}
}



 


@media screen and (min-width:400px){
  .email-full{
    grid-column: 1/3;
  }
}
  @media screen and (min-width: 768px) {
    .navbar {
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-right: 0;
        color: gray;
        /* padding: .em; */
    }
    .main-nav li {
        margin: 0;
    }

    .main-nav a:hover{
      background:gray;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }

    .navbar-close{
      display: none;
    }
    
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
}

.home-testimonial{
  font-size: 1.4em;
}
  }

  @media only screen and (min-width: 857px) 
  {
  
/*   
   
  .copyright{
    padding: 0;
    margin: none;
  }
      
    .services-section-a{
        /* justify-content: center; */
        /* padding: 20px; */
    }
    
     
        

  
  .services-title{
    /* float: left; */
    font-size: 2em;
  }  */
  
  .services-content {
    padding: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  

   .services-section-a{
     grid-area: services-section-a;
     width: 100%;
     height: auto;
   }
   
   .services-section-b {
    width: 100%;
    grid-area: services-section-b;

   }
   
   .services-section-c{
    width: 100%;
    grid-area:services-section-c;

   }
    
   .services-section-d{
   grid-area:services-section-d;
   

    }
.services-section-e{
  grid-area: services-section-e;;

}
    .services-section-f{
      grid-area: services-section-f;
      ;
    }
 
   
  .services-image1{
        display: flex;
    width: 90%;
    margin: 0 auto;
    position: relative;
    object-fit: cover;
    
  }
  
  
    .box,
    #main-footer div {
      grid-column: span 2;
    }
  
  

  @media screen and (min-width:900px) {
    .testimonials{
      display: grid;
      grid-template-columns: 1fr 1fr   ;
      grid-gap: 1em;
    }

.services-main{
  width: 100%;
}
    .container-services{
      /* margin: 3em 2em; */
     display: grid;
     /* grid-gap: 1em; */
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);  
     padding: 2em 2em 2em 2em; 
     width: 90%;
     margin: 0 auto;
    
 }

  }

  
    @media screen and (min-width:1100px) {

      .wrapper{
        display: grid;
        grid-template-columns: 3fr 3fr;
    } 






      .footer-heading {
        font-size: 2em;
      }

      
        #footer-contact, #icons-heading, #newsletter{
          /* padding-top: 1em; */
          /* padding-bottom: 1em; */
          box-shadow: none;
          height: 50%;
          width: 50%;
        }
      
        
    
        .footer-logo{
           display: flex; 
        }
    
        .footer-container{ 
         background-color: #979595;
          display:grid;
          grid-template-columns: 1fr 1fr 1fr ;
          /* padding: 0 1em 0 1em; */
          grid-gap: 1em; 
          align-items: center;
          justify-items: center;
          width: 100%;
        }
         
      .home-container{
        display: grid;
        width: 100%;
         /* padding: 1em auto;  */
         grid-template-areas: 'section-a section-b section-c';
        /* grid-gap: 2em;    */
        margin: 0 auto;
      }
  
     
     
  .wedding-image{
   object-fit: cover; 
   width: 100%;
   display: flex;
  }
  
 
  .party-image{
    object-fit: contain;
    display: flex;
    width: 100%;

  }
  .school-image{
    object-fit: contain;
    display: flex;
    width: 100%;
  }
  .services-image1{
    display: flex;
  }
      .home-testimonial, .contact-info p{
        font-size: 1.9em;
      }
    .wrapper{
      padding: 3em;
    }
    /* .home-container, .footer-container{ */
      /* padding: 2em 2em 2em 2em;} */
    
    
      .services-content{
            font-size: 1.7em;
        /* margin-top: 90px; */
        
        justify-content: center;
        /* margin-top: 100px; */
      }
    
      #services-section-f{
    
        margin-top: 50px;
    
      }
      
    }
    
    @media screen and (min-width: 1140px){
      .contact-image{
            background-position:  80% 20%;  
            height: 650px;
          }
        
           /* .inner-container h3{
            margin-top: 400px;
            position: absolute;
            width: 100%;    
          }  */
        }
    

/* @media screen and (min-width:1300px){ */



  

     /* .container-services{ */
 
    /* grid-template-columns: repeat(3, 2fr); */
    /* grid-template-rows: repeat(2, 2fr);   */

    
    
 /* }  */
/* } */